<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eaosoft.railway.mapper.EquipMapper">
    <update id="equipRepair">
        update rw_equip
        set repair = 0
        where uid = #{equipUid}
          and is_deleted = 0
    </update>
    <select id="selectEquipName" resultType="java.lang.String">
        select distinct equip_name
        from rw_equip
        where route_name = #{routeName}
          and is_deleted = 0
    </select>
    <select id="equipLogin" resultType="com.eaosoft.railway.entity.Equip">
        select *
        from rw_equip
        where serial_no = #{serialNo}
          and is_deleted = 0
          and `code` = 1
    </select>
    <select id="selectEquipByCondition" resultType="com.eaosoft.railway.entity.Equip">
        select * from rw_equip
        <where>
            and stationUid = #{stationUid}
            <if test="equipName != null || equipName != ''">
                and equipName like '%${equipName}%'
            </if>
            <if test="serialNo != null || serialNo != ''">
                and serialNo like '%${serialNo}%'
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>
    <select id="selectAllEquip" resultType="com.eaosoft.railway.entity.Equip">
        SELECT e.serial_no,
        e.equip_name,
        e.producer,
        e.create_time,
        s.station_name stationUid,
        e.code,
        e.state,
        e.uid,
        e.ip_addr
        FROM rw_equip e
        join rw_station s
        <where>
            and e.station_uid = s.uid
            and e.route_name = #{routeName}
            and e.is_deleted = 0
            <if test="serialNo != '' and serialNo != null">
                and e.serial_no = #{serialNo}
            </if>
            <if test="state != null">
                and e.state = #{state}
            </if>
            <if test="equipName != null || equipName != ''">
                and e.equip_name = #{equipName}
            </if>
        </where>
    </select>
</mapper>
