<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eaosoft.railway.mapper.EquipMapper">
    <select id="selectEquipName" resultType="java.lang.String">
        select distinct equip_name from rw_equip where route_name = #{routeName}
    </select>
</mapper>
