<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eaosoft.railway.mapper.LoginLogMapper">

    <select id="selectLoginLog" resultType="com.eaosoft.railway.entity.LoginLog">
        select * from rw_login_log
    </select>
</mapper>
