<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eaosoft.railway.mapper.UserMapper">


    <delete id="deleteToken">
        delete  from auth_token where token=#{token}
    </delete>

<!--    <select id="selectByUsernameAndPassword" resultType="com.eaosoft.railway.entity.User">-->
<!--        select u.*,s.uid station_uid from rw_user u-->
<!--            join rw_station s-->
<!--            ON u.station_uid = s.station_name-->
<!--        where username=#{username} and password=#{password}-->
<!--    </select>-->
    <select id="selectByUsernameAndPassword" resultType="com.eaosoft.railway.entity.User">
        select * from rw_user where username=#{username} and password=#{password} and is_deleted = 1
    </select>
    <select id="selectByUsername" resultType="com.eaosoft.railway.entity.User">
        select * from rw_user where username=#{username} and is_deleted = 1
    </select>
    <select id="selectAll" resultType="com.eaosoft.railway.entity.User">

    </select>
    <select id="selectByCondition" resultType="com.eaosoft.railway.entity.User">
        select * from rw_user where route_name like '%${route_name}%' and is_deleted = 1
    </select>

    <select id="findAllUserUid" resultType="java.lang.String">
        select uid from rw_user where is_deleted = 1
    </select>
    <select id="selectUserNum" resultType="java.lang.Integer">
        select count(*)  from rw_user
    </select>
    <select id="findStationUidByUserUid" resultType="java.lang.String">
        select station_uid from rw_user where uid = #{userUid}
    </select>
    <select id="exportModel" resultType="com.eaosoft.railway.entity.User">
        select * from rw_user where uid = #{uid}
    </select>
    <select id="exportUser" resultType="com.eaosoft.railway.vo.UserVo">
        SELECT * FROM rw_user WHERE TO_DAYS( create_time) = TO_DAYS(NOW());
    </select>


</mapper>
